.flex-container {
    display: flex;
    flex-flow: row wrap;
    flex-grow: 3;
}
.flex-container-div {
    margin: 10px;
}

.cep-info {
    background-color: gainsboro;
    border-radius: 5px;
    padding-left: 10px;
    padding: .2rem;
    padding: .15rem;
}

.cep-text {
    padding: .3rem;
    margin-bottom: 10px;
    margin-left: .1rem;
}